.user-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px;
    margin-bottom: 4px;
    border: 1px solid transparent;
    transition: 0.3s;
    border-radius: 5px;

    &__img {
        margin-right: 8px;
        width: 24px;
        height: 24px;
        border-radius: 24px;
    }

    &__name {
        color: #bbb;
        font-size: 14px;
        font-weight: 400;
    }

    &:hover {
        border: 1px solid #fff;
    }
    &.active {
        border-radius: 8px;
        background: var(--9, #222);
    }
}
