// .input {
//     font-size: 16px;
//     font-style: normal;
//     font-weight: 400;
//     line-height: normal;
//     padding: 16px;
//     border-radius: 8px;
//     background: #222;
//     transition: 0.3s;
//     color: #999;
//     &:focus {
//         color: #fff;
//     }
// }

.input__wr {
    width: 100%;
    position: relative;

    svg {
        position: absolute;
        fill: #fff;
        width: 23px;
        height: 15px;
        right: 16px;
        top: 50%;
        transform: translate(0, -50%);
        cursor: pointer;
        &.active {
            fill: rgba(153, 153, 153, 1);
        }
    }
}
