.logo-wr {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.logo_text {
    color: #fff;
    font-family: Uto;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-left: 4px;
}
