.comment {
    background: #222;
    padding: 24px;
    margin-top: 32px;
    pointer-events: none;
    z-index: 1;
    position: absolute;
    opacity: 0;
    bottom: 0;
    &.active {
        position: static;
        pointer-events: all;
        opacity: 1;
    }

    .textarea__wr {
        width: 100%;
    }
    &__count {
        color: #fff;
        font-size: 24px;
        margin-bottom: 25px;
        font-weight: 500;
    }

    &__btn {
        height: fit-content;
    }

    &__add {
        display: flex;
        width: 100%;
        align-items: center;
    }

    &__comments {
        margin-top: 15px;
    }

    &__item {
        margin-bottom: 15px;
        &_top {
            display: flex;
            align-items: center;
            gap: 15px;
        }
        &__avatar {
            width: 32px;
            height: 32px;
            border-radius: 50%;
        }
        &__name {
            color: #fff;
            font-feature-settings: 'clig' off, 'liga' off;
            font-size: 16px;
            font-weight: 600;
            line-height: 18px;
        }
    }

    &__comment {
        color: #fff;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        margin-left: 47px;
    }
}
