.addvideo2 {
    max-width: 920px;
    margin: 0 auto;
    margin-top: 33px;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        color: #fff;
        font-size: 24px;
        font-weight: 500;
    }

    &__btn {
    }
}
