.reg-form {
    background: grey;
    width: 580px;

    &__wr {
        // padding: 24px 80px;
        display: flex;
        justify-content: center;
        // align-items: center;
        flex-direction: column;
        width: 580px;

        padding: 0 80px;
    }
    &__logo-wr {
        margin-top: 0;
        .logo-wr {
            margin-left: -13px;
        }
    }
}

.reset-password {
    position: absolute;
    right: 0;
    cursor: pointer;
    color: #ad7955;
    z-index: 1;
}

.form {
    position: relative;
    margin-top: 67px;

    &__title {
        color: #fff;
        font-family: Uto;
        font-size: 36px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 47px;
    }
    .input__wr {
        margin-bottom: 27px;
    }

    &__btn {
        margin: 40px auto 0;
        display: block;
        width: 180px;
        margin-bottom: 42px;
    }
    &__etc {
        text-align: center;
        color: #999;
        font-family: Uto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        cursor: pointer;
        line-height: 22px;

        span {
            color: #ad7955;
            line-height: 22px; /* 137.5% */
            text-decoration-line: underline;
            margin-left: 10px;
        }
    }

    &__terms {
        color: #777;
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
        text-align: center;
        margin-top: 54px;
    }
}

.swal-modal {
    border-radius: 16px;
    background: var(--9, #222);
    border: 3px solid white;
}
.swal-text {
    color: #fff;
    font-family: Uto;
}
.swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    color: white;
    background-color: #ad7955;
    font-size: 12px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1200px) {
    .reg-form__wr {
        // width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .reg-form__wr {
        padding: 24px 16px;
    }
}
