// passwordReset

.forgot-container {
    // .reg-form__wr {
    //     max-width: 420px;
    // }

    .form__descr {
        color: var(--4, #eee);
        text-align: center;
        font-family: Uto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 40px;
    }

    .email__send {
        margin: 0 auto;
    }

    a {
        color: #ad7955;
    }
}
