.addvideo {
    max-width: 920px;
    margin: 0 auto;
    margin-top: 33px;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        color: #fff;
        font-size: 24px;
        font-weight: 500;
    }

    &__btn {
    }

    &__dragAndDrop-section {
        border-radius: 16px;
        background: #222;
        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: column;
        margin-top: 23px;
        padding: 127px 0;
    }

    &__img {
        width: 51px;
        height: 51px;
        margin-bottom: 51px;
    }

    &__drag-text {
        color: #fff;
        font-size: 36px;
        font-weight: 500;

        width: 40%;
        text-align: center;
        line-height: 114%;
        margin-bottom: 45px;
    }

    &__btn-addvideo {
    }
}
.btn-innactive {
    background: #777;
    color: #bbb;
}

@media screen and (max-width: 996px) {
    .addvideo__top {
        display: none;
    }
    .addvideo__dragAndDrop-section {
        background: none;
    }

    .addvideo__drag-text {
        width: 95%;
    }
}
