.header {
    padding: 10px 24px;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    &__left {
        padding-top: 8px;

        .burger {
            display: none;
        }
    }
    &__right {
        display: flex;
        align-items: center;

        flex-basis: auto;
    }
    &__menu {
        display: none;
    }
    .search {
        margin-right: 38px;
    }
    .ring {
        margin-right: 14px;
    }
    &__button {
        padding: 10.5px 35px;
        margin-left: 15px;
    }
    &__profile {
        position: relative;
        margin-left: 24px;
        display: flex;
        align-items: center;
        cursor: pointer;
        z-index: 1;
        color: #bbb;
        &_img {
            margin-right: 10px;
            width: 24px;
            height: 24px;
            border-radius: 24px;
        }
    }
    &__video {
        transition: 0.3s;
        color: #bbb;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        margin-left: 24px;
        &:active {
            color: #fff;
        }
    }
    &__store {
        transition: 0.3s;
        color: #bbb;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        margin-left: 24px;
        &:active {
            color: #fff;
        }
    }
    &__authed {
        flex-basis: auto;
        .search {
            margin-left: 0px;
            margin-right: 47px;
        }
        .ring {
            margin-right: 37px;
        }
    }

    .header__authed-block {
        display: flex;
        flex-basis: auto;
    }
    .header__video {
        margin: 0 9px;
        align-items: center;
        display: flex;
    }

    .header__store {
        align-items: center;
        display: flex;
        margin: 0 34px;
    }

    .header__profile {
        margin-right: 11px;
        margin-left: 11px;
    }
    .profile__text {
        color: #bbb;
        font-size: 16px;
        font-weight: 400;
    }
    .profile__popup {
        border-radius: 8px;
        background: #222;
        position: absolute;
        padding: 16px;
        gap: 10px;
        display: flex;
        flex-direction: column;
        bottom: -90px;
        width: 150px;
        left: -60px;

        svg {
            margin-right: 8px;
        }
    }
    .profile__edit {
        // margin-top: 18px;
        display: flex;
        align-items: center;
    }
    .profile__edit_text {
        color: #bbb;
        font-size: 16px;
        font-weight: 400;
    }
}

@media screen and (max-width: 575px) {
    .header {
        padding: 15px 23px;
        position: relative;
        .header {
            &__video,
            &__store {
                display: none;
            }
        }
        &__menu {
            z-index: 1;
            display: none;
            position: absolute;
            left: 0;
            padding-left: 16px;
            top: 50px;
            background: var(--9, #222);
            height: 100vh;
            width: 294px;
            &_active {
                display: block;
            }
            &_ul {
                margin-top: 24px;
            }
            &_li {
                padding: 10px 14px;
                cursor: pointer;
                font-size: 16px;
                font-weight: 400;
            }
        }
        &__left {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .burger {
                display: block;
                margin-right: 21px;
            }
            .cross {
                display: block;
                margin-right: 21px;
            }
        }
        &__right {
            display: flex;
            flex-basis: auto;
            justify-content: flex-end;
            justify-content: space-between;
            align-items: center;

            .search {
                margin: 0;
            }
        }
        .ring {
            display: none;
        }
        &__button {
            display: none;
        }
    }
}
