.eye {
    fill: white;
    &.active {
        fill: grey;
    }
}
.arrow_down {
    fill: #fff;
    transition: 0.3s;
    &.active {
        transform: rotate(180deg);
    }
}

.heart {
    fill: #ad7955;
    width: 31px;
    height: 21px;
}
