.eye {
    fill: white;
    &.active {
        fill: grey;
    }
}
.arrow_down {
    fill: #fff;
    transition: 0.3s;
    &.active {
        transform: rotate(180deg);
    }
}

.heart {
    fill: #ad7955;
    width: 31px;
    height: 21px;
}

.search {
    width: 18px;
    height: 18px;
    fill: #fff;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        transform: rotate(5deg);
    }
}

.ring {
    width: 16px;
    height: 20px;
    fill: #fff;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        transform: rotate(5deg);
    }
}

.burger {
    width: 18px;
    height: 14px;
    cursor: pointer;
    fill: #fff;
    transition: 0.3s;
    &:hover {
        fill: grey;
    }
}

.cross {
    width: 18px;
    height: 19px;
    cursor: pointer;
    fill: #fff;
    transition: 0.3s;
    &:hover {
        fill: grey;
    }
}
