// Reset styles
$bgBase: rgba(17, 17, 17, 1);
$colorBase: rgba(255, 255, 255, 1);
$colorHover: #37b7fa;
$fontFamily: 'Uto', sans-serif;
$fontSize: 14px;
$fontWeight: 400;
$linkTransition: all 0.2s;

// Width
$width991: 'max-width: 991px';
$width767: 'max-width: 767px';
$width575: 'max-width: 575px';
$width374: 'max-width: 374px';
