@font-face {
    font-family: 'Uto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../../assets/fonts/Uto-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Uto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../assets/fonts/Uto-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Uto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../../assets/fonts/Uto-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Uto';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../../assets/fonts/Uto-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Uto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../../assets/fonts/Uto-Bold.woff2') format('woff2');
}
