.video-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &__control-bar {
        background-color: rgba(0, 0, 0, 0.7) !important;
        width: calc(100% - 90px) !important;
        left: 80px !important;
        bottom: 10px !important;
        border-radius: 4px;
        box-shadow: 0 0 4px #ffffff49;

        & .video-react-play-control {
            position: absolute;
            top: 0;
            left: -70px;
            width: 60px;
            background-color: rgba(0, 0, 0, 0.7) !important;
            box-shadow: 0 0 7px #b1b1b149;
            border-radius: 6px;
        }
        & .video-react-play-progress {
            background-color: #ad7955;
        }
    }
    &__play-btn {
        &.video-react-big-play-button {
            border: none !important;
            background-color: #363636 !important;
            &:hover {
                background-color: #ad7955 !important;
            }
        }
    }
    & .video-react-poster {
        background-size: cover !important;
    }
    @media (max-width: 576px) {
        &__control-bar {
            width: calc(100% - 50px) !important;
            left: 45px !important;
            & .video-react-play-control {
                left: -40px !important;
                width: 35px !important;
            }
        }
    }
}
